@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Space+Mono&family=VT323&display=swap");

/* font-family: 'Major Mono Display', monospace;
font-family: 'Space Mono', monospace;
font-family: 'VT323', monospace; */

// colour scheme : FFC4EB EAEFD3 ED6A5A 363636

// original box shadow 5c6d70

@mixin heading-font {
    font-family: "Space Mono", monospace;
}

@mixin standard-shadow {
    box-shadow: 5px 5px #5c6d70;
}

body {
    @include heading-font;
    margin: 20px;
}

.introSection {
    background-color: #ffc4eb;
    padding: 20px;

    p {
        margin: 0;
        padding-bottom: 10px;
    }
}

.skillIcons {
    background-color: #eaefd3;
    padding: 20px;

    h3 {
        margin-left: 5px;
    }

    .skillIcon {
        display: inline-block;
        position: relative;
        width: 10%;
    }

    .highExperienceSkills {
        margin: 0 auto;
    }
    

    .tooltip {
        background-color: white;
        display: inline-block;
        position: absolute;
        bottom: 105%;
        display: none;
        padding: 10px;
        border-radius: 4px;
        width: 250%;
        @include standard-shadow;
        border: 1px solid black;
        h5 {
            margin: 0;
        }
    }

    .tooltip.left {
        right: 5px;
    }

    img {
        background-color: white;
        padding: 10px;
        border-radius: 4px;
        margin-right: 5px;
        margin-bottom: 5px;
        transition: box-shadow 0.5s, top 0.5s, left 0.5s;
        position: relative;
        border: 1px solid black;

        box-shadow: none;
        top: 5px;
        left: 5px;

        // border: 1px black solid;
    }

    img:hover {
        @include standard-shadow;
        top: 0;
        left: 0;
    }
}

.exampleProjects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ed6a5a;
    padding-bottom: 20px;
    padding: 20px;

    .project {
        width: 30%;
        position: relative;

        .tooltip {
            background-color: white;
            display: inline-block;
            position: absolute;
            bottom: 105%;
            display: none;
            padding: 10px;
            border-radius: 4px;
            // width: 100%;
            @include standard-shadow;
            border: 1px solid black;
            h5 {
                margin: 0;
            }
        }

        img {
            // border: 1px black solid;
            width: 80%;
            border-radius: 4px;
            transition: box-shadow 0.5s, top 0.5s, left 0.5s;
            position: relative;
            // background-color: white;
            padding: 20px;
            box-shadow: none;
            top: 5px;
            left: 5px;
            // box-shadow: 5px 5px #5c6d70;
            margin: 0;
        }

        h3 {
            border-radius: 4px;
            transition: box-shadow 0.5s, top 0.5s, left 0.5s;
            position: relative;
            box-shadow: none;
            top: -60px;
            left: 80px;
            background-color: white;
            display: inline-block;
            padding: 10px;
            margin-top: 0;
            margin-bottom: 20px;
            // border: 1px black solid;
        }

        img:hover {
            // @include standard-shadow;
            top: 0;
            left: 0;
        }

        img:hover + h3 {
            background-color: white;
            @include standard-shadow;
            top: -65px;
            left: 75px;
        }
    }
}
