@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Space+Mono&family=VT323&display=swap");
/* font-family: 'Major Mono Display', monospace;
font-family: 'Space Mono', monospace;
font-family: 'VT323', monospace; */
body {
  font-family: "Space Mono", monospace;
  margin: 20px;
  caret-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Major Mono Display", monospace;
}

.section {
  padding: 20px;
  border: 1px solid black;
  position: relative;
}

.introSection {
  background-color: #ed6a5a;
  color: #fffcf2;
  border-width: 1px 1px 0 1px;
  border-radius: 4px 4px 0 0;
}
.introSection h1 {
  margin-top: 0;
}
.introSection h3 {
  margin-bottom: 40px;
}
.introSection p {
  margin: 0;
  padding-bottom: 10px;
}
.introSection .contactCard {
  position: absolute;
  text-align: right;
  right: 20px;
  top: 20px;
  font-size: large;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  background-color: #fffcf2;
  color: black;
}
.introSection .contactCard p {
  padding: 0;
}
.introSection .contactCard i {
  margin-left: 10px;
  display: inline-block;
  width: 20px;
  text-align: center;
}

.skillsContainer {
  background-color: black;
  height: 80vh;
}
.skillsContainer h2 {
  text-align: center;
}
.skillsContainer .buttons {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}
.skillsContainer .buttons button {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-family: "Space Mono", monospace;
  font-size: medium;
  margin: 10px 10px;
  transition: box-shadow 0.5s, top 0.5s, left 0.5s, background-color 0.5s;
  position: relative;
  top: 0;
  left: 0;
}
.skillsContainer .buttons button:hover {
  cursor: pointer;
  box-shadow: 5px 5px #5c6d70;
  top: -5px;
  left: -5px;
}
.skillsContainer .buttons button:focus {
  box-shadow: none;
  top: 0px;
  left: 0px;
}
.skillsContainer .buttons button.active {
  background-color: #ed6a5a;
  color: #fffcf2;
}
.skillsContainer .pg-canvas {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.skillsContainer .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}
.skillsContainer .skills .skillIcon {
  display: inline-block;
  position: relative;
  width: 8%;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.skillsContainer .skills .skillIcon .tooltip {
  background-color: white;
  display: inline-block;
  position: absolute;
  left: -5px;
  display: none;
  padding: 10px;
  border-radius: 4px;
  bottom: 110%;
  border: 1px solid black;
  box-shadow: 5px 5px #5c6d70;
  width: 250%;
  text-align: left;
}
.skillsContainer .skills .skillIcon .tooltip h5 {
  margin: 0;
}
.skillsContainer .skills .skillIcon .tooltip.left {
  right: 5px;
  left: initial;
}
.skillsContainer .skills .skillIcon .skillImage {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  transition: box-shadow 0.5s, top 0.5s, left 0.5s, background-color 0.5s;
  position: relative;
  border: 1px solid black;
  box-shadow: none;
  top: 0px;
  left: 0px;
}
.skillsContainer .skills .skillIcon .skillImage:hover {
  box-shadow: 5px 5px #5c6d70;
  top: -5px;
  left: -5px;
  cursor: pointer;
}
.skillsContainer .skills .skillIcon .skillImage:active {
  box-shadow: none;
  top: 5px;
  left: 5px;
}

.projects {
  background-color: #ed6a5a;
  border-radius: 0 0 4px 4px;
  border-width: 0 1px 1px 1px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects .project {
  width: 30%;
  position: relative;
}
.projects .project .tooltip {
  background-color: white;
  display: inline-block;
  position: absolute;
  left: -5px;
  display: none;
  padding: 10px;
  border-radius: 4px;
  bottom: 110%;
  border: 1px solid black;
  box-shadow: 5px 5px #5c6d70;
}
.projects .project .tooltip h5 {
  margin: 0;
}
.projects .project .projectImage {
  width: 80%;
  border-radius: 4px;
  transition: box-shadow 0.5s, top 0.5s, left 0.5s;
  position: relative;
  padding: 20px;
  box-shadow: none;
  top: 5px;
  left: 5px;
  margin: 0;
  cursor: pointer;
}
.projects .project .projectName {
  border-radius: 4px;
  transition: box-shadow 0.5s, bottom 0.5s, left 0.5s;
  position: absolute;
  box-shadow: none;
  left: 0px;
  bottom: -20px;
  background-color: #fffcf2;
  display: inline-block;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  border: 1px solid black;
  font-family: "Space Mono", monospace;
  font-weight: normal;
}
.projects .project .projectImage:hover {
  top: 0;
  left: 0;
}
.projects .project .projectImage:hover + .projectName {
  box-shadow: 5px 5px #5c6d70;
  left: -5px;
  bottom: -15px;
}

.footerText {
  text-align: center;
}
.footerText span:first-of-type {
  float: left;
  position: absolute;
  left: 20px;
}
.footerText span:last-of-type {
  position: absolute;
  right: 20px;
}

/*# sourceMappingURL=style.css.map */
