@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Rubik&display=swap');

/* SWEEPING CHANGES */

body {
    background-color: rgb(66, 27, 27);
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    list-style-type: none;
}

h1, h2, h3 {
    font-family: 'Bungee Shade', cursive;
    margin: -10px 0px;
}

h2 {
    font-size: 30px;
}


#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainContainer div {
    border: 2px black solid;
    background-color: bisque;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

/* HEADER */

.mainHeading {
    font-family: 'Bungee Shade', cursive;
    font-size: 60px;
    color: black;
    background-color: rgb(247, 166, 134);
    margin: 0;
    padding-left: 20px;
    border-bottom: 2px black solid;
}

/* ABOUT */

#about {
    /* background-color: orange; */
    width: 30%;
}

#about img {
    width: 30vw;
}

#about p {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    background-color: rgb(247, 166, 134);
    padding: 10px;
    margin: 0 -20px;
}

/* SKILLS */

#skills ul {
    background-color: rgb(247, 166, 134);
    /* border-radius: 10px; */
    margin: 0 -20px;
    padding: 10px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

#skills li {
    font-weight: bold;
    font-size: 25px;
}

/* PROJECTS */

#projects {
    width: 30%;

}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5vh;
    /* overflow-y: scroll; */
}

#projects a {
    border: 2px black solid;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(247, 166, 134);
    height: 40%;
    width: 40%;
}

#projects a:hover {
    background-color: rgb(236, 105, 53);
    cursor: pointer;
}

#projects h3 {
    text-align: center;
}

#projects img {
    width: 98%;
    border-radius: 5px;
    border: 2px black solid;
}

/* FORM */

#contact a {
    font-weight: bold;
}

#contact a:hover {
    color: rgb(236, 105, 53);
}

#contact ul {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 166, 134);
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

#contact a {
    margin: 0 30px;
    font-size: 3vh;
    font-family: 'Bungee Shade', cursive;
}
