@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Rubik&display=swap");

// Variables

$color1: #fae196;
$color2: #f8f3d4;
$background: #f6416c;
$blackBorder: 2px black solid;
$titleFont: "Bungee Shade", cursive;
$contentFont: "Rubik", sans-serif;

/* SWEEPING CHANGES */
body {
  background-color: $background;
  margin: 0;
  font-family: $contentFont;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  list-style-type: none;
}

h2 {
  font-family: $titleFont;
  margin: 0;
  margin-top: -10px;
  font-size: 30px;
}

iframe {
  border-radius: 10px;
  border: $blackBorder;
  height: 55vh;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

#mainContainer div,
#skills {
  border: $blackBorder;
  background-color: $color2;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

/* HEADER */

.mainHeading {
  font-family: $titleFont;
  font-size: 60px;
  background-color: $color2;
  margin: 0;
  padding-left: 20px;
  border-bottom: $blackBorder;
}

.mainHeading:hover {
  background-image: url(../media/images/matrix.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: transparent;
}

/* ABOUT */

#about {
  width: 28%;

  img {
    width: 27vw;
    margin: 10px auto;
  }

  p {
    border-top: $blackBorder;
    border-bottom: $blackBorder;
    background-color: $color1;
    padding: 10px;
    margin: 0 -20px;
    // color: white;
  }
}

/* SKILLS */

#skills {
  margin: 0 auto;
  border-radius: 0;
  border: 0;
  width: 28%;

  ul {
    background-color: $color1;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 10px;
    border-top: $blackBorder;
    border-bottom: $blackBorder;
    display: flex;
    justify-content: space-around;
    height: 85%;
  }

  li {
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    text-align: center;
    // color: white;
  }

  img {
    display: block;
    background-color: $color2;
    border-radius: 20%;
    width: 4vw;
    height: 4vw;
    padding: 10px;
    margin: 0 auto;
    border: $blackBorder;
  }
}



/* PROJECTS */

#projects {
  width: 28%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 -20px;
    background-color: $color1;
    border-top: $blackBorder;
    border-bottom: $blackBorder;
  }

  a {
    border: $blackBorder;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: $color2;
    height: 40%;
    width: 40%;
  }

  a:hover {
    border: 2px black dashed;
    cursor: pointer;
  }

  h3 {
    text-align: center;
  }

  img {
    border: $blackBorder;
    width: 98%;
    border-radius: 5px;
  }

}



/* If anyone sees this I know it is terrible practice please don't judge me I will fix it :0 */

#github {
  color: $background !important;
  padding: 0 !important;
  border: none !important;
  margin: 0 !important;
}


/* CONTACT */

#contact {
  a {
    margin: -10px 30px;
    font-size: 30px;
    font-family: $titleFont;
    font-weight: bold;
  }

  a:hover {
    color: $color1;
  }

  ul {
    display: flex;
    justify-content: center;
    background-color: $color2;
    margin: 0;
    border-top: $blackBorder;
    border-bottom: $blackBorder;
  }
}

// PHONE STYLES
@media only screen and (max-width: 800px) {
  #mainContainer {
    flex-direction: column;
    align-content: center;
  }

  #mainContainer div,
  #skills {
    width: 80%;
  }

  #contact ul {
    flex-direction: column;
  }

  #contact a {
    font-size: 10vw;
  }

  #skills img {
    display: none;
  }

  #projects a {
    width: 100%;
  }

  iframe {
    height: 20vh;
  }
}

// SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $background;
}
