@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Rubik&display=swap');


body {
    background-color: rgb(95, 9, 95);
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
}

h1, h2 {
    font-family: 'Bungee Shade', cursive;
    margin: -10px 0px;
}

.mainHeading {
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    color: black;
    background-color: yellow;
    margin: 0;
    padding-left: 20px;
    border-bottom: 2px black solid;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainContainer div {
    border: 2px black solid;
    background-color: bisque;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

#about {
    /* background-color: orange; */
    width: 30%;
}

#about img {
    width: 100%;
}

#about p {
    border: 2px black solid;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
}

#skills ul {
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

#skills li {
    font-weight: bold;
}

#projects {
    /* background-color: orangered; */
    width: 30%;

}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#projects li {
    border: 2px black solid;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: yellow;
}

#projects li:hover {
    background-color: rgb(250, 250, 98);
    cursor: pointer;
}

#projects h3 {
    text-align: center;
}

#projects img {
    width: 150px;
    border-radius: 10px;
    border: 2px black solid;
}

#contact {
    /* background-color: red; */
}

#contact form {
    border: 2px black solid;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: yellow;
}

input, textarea {
    border: 2px black solid;
}