@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');


body {
    background-image: url('../media/images/wood-textures-2-1370212.jpg');
    background-size: cover;
    font-family: 'Itim', cursive;
    text-align: center;
}

#mainContainer {
    width: 80%;
    margin: 0 auto;
}

#blogList {
    list-style-type: none;
    padding-left: 0;
    background-size: cover;
    padding: 10px;
    width: 47%;
    float: left;
    margin: 0;
}

#profilePic {
    width: 290px;
    margin: 0 auto;
}

#aboutMeSection {
    float: right;
    width: 47%;
    padding: 10px;
    height: 400px;
    text-align: center;
}

#blogList li {
    font-size: 40px;
    padding: 5px;
    margin: 4px;
}

#blogList li:hover {
    border: 2px brown dashed;
}

.border-background {
    border: 2px brown solid;
    border-radius: 10px;
    background-color: bisque;
}

#clear {
    clear: both;
}

.example {
    text-align: center;
    margin: 10px;
}

.description {
    width: 400px;
    display: inline-block;
    position: relative;
}

.diagram {
    width: 400px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
}



.originalPosition {
    border: 2px green dashed;
    width: 100px;
    height: 100px;
    position: absolute;
}

#relativePositioned {
    border: 2px purple solid;
    width: 100px;
    height: 100px;
    position: relative;
    left: 200px;
}

#absolutePositioned {
    border: 2px purple solid;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
}

#fixedPositioned {
    border: 2px purple solid;
    width: 100px;
    height: 100px;
    position: fixed;
    left: 200px;
    bottom: 300px;
}

.preformatted {
    display: inline-block;
    white-space: pre;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}

.circle {
    border-radius: 50%;
}

.roundCorner {
    border-radius: 25%;
}