/* Diagram Sprint2 tech  */ 

.containerTitle {
    margin-bottom: 0;
    color: brown;
}

.diagram {
    width: 400px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.originalPosition {
    border: 2px green dashed;
    width: 100px;
    height: 100px;
    position: absolute;
}

#relativePositioned {
    border: 2px purple solid;
    width: 100px;
    height: 100px;
    position: relative;
    left: 200px;
}

#absolutePositioned {
    border: 2px purple solid;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
}

#fixedPositioned {
    border: 2px purple solid;
    width: 100px;
    height: 100px;
    position: fixed;
    left: 950px;
    bottom: 150px;
}

.circle {
    border-radius: 50%;
}

.roundCorner {
    border-radius: 25%;
}