@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Space+Mono&family=VT323&display=swap");
/* font-family: 'Major Mono Display', monospace;
font-family: 'Space Mono', monospace;
font-family: 'VT323', monospace; */
.alertMessage {
  color: red;
  text-decoration: underline;
}

body {
  font-family: "Space Mono", monospace;
  margin: 20px;
  caret-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Mono", monospace;
}

.introSection {
  background-color: #ed6a5a;
  color: #FFFCF2;
  padding: 20px;
  border-width: 1px 1px 0 1px;
  border-color: black;
  border-style: solid;
  border-radius: 4px 4px 0 0;
}
.introSection p {
  margin: 0;
  padding-bottom: 10px;
}

.skillIcons {
  background-color: #FFFCF2;
  padding: 20px;
  border: 1px black solid;
  position: relative;
}
.skillIcons h3 {
  text-align: center;
  color: white;
}
.skillIcons .pg-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.skillIcons .skillIcon {
  display: inline-block;
  position: relative;
  width: 10%;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.skillIcons .highExperienceSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.skillIcons .mediumExperienceSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skillIcons .tooltip {
  background-color: white;
  display: inline-block;
  position: absolute;
  display: none;
  padding: 10px;
  border-radius: 4px;
  bottom: 105%;
  border: 1px solid black;
  box-shadow: 5px 5px #5c6d70;
  width: 250%;
}
.skillIcons .tooltip h5 {
  margin: 0;
}
.skillIcons .tooltip.left {
  right: 0;
}
.skillIcons img {
  padding: 10px;
  border-radius: 4px;
  transition: box-shadow 0.5s, top 0.5s, left 0.5s, background-color 0.5s;
  position: relative;
  box-shadow: none;
  top: 5px;
  left: 5px;
}
.skillIcons img:hover {
  top: 0;
  left: 0;
  cursor: pointer;
}
.skillIcons img:active {
  box-shadow: none;
  top: 5px;
  left: 5px;
}

.exampleProjectsContainer {
  border-radius: 0 0 4px 4px;
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
}

.exampleProjects, .exampleProjectsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ed6a5a;
  padding-bottom: 20px;
  padding: 20px;
}
.exampleProjects .project, .exampleProjectsContainer .project {
  width: 30%;
  position: relative;
}
.exampleProjects .project .tooltip, .exampleProjectsContainer .project .tooltip {
  background-color: white;
  display: inline-block;
  position: absolute;
  display: none;
  padding: 10px;
  border-radius: 4px;
  bottom: 105%;
  border: 1px solid black;
  box-shadow: 5px 5px #5c6d70;
}
.exampleProjects .project .tooltip h5, .exampleProjectsContainer .project .tooltip h5 {
  margin: 0;
}
.exampleProjects .project img, .exampleProjectsContainer .project img {
  width: 80%;
  border-radius: 4px;
  transition: box-shadow 0.5s, top 0.5s, left 0.5s;
  position: relative;
  padding: 20px;
  box-shadow: none;
  top: 5px;
  left: 5px;
  margin: 0;
  cursor: pointer;
}
.exampleProjects .project .projectName, .exampleProjectsContainer .project .projectName {
  border-radius: 4px;
  transition: box-shadow 0.5s, bottom 0.5s, left 0.5s;
  position: absolute;
  box-shadow: none;
  left: 0px;
  bottom: -20px;
  background-color: #FFFCF2;
  display: inline-block;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  border: 1px solid black;
}
.exampleProjects .project img:hover, .exampleProjectsContainer .project img:hover {
  top: 0;
  left: 0;
}
.exampleProjects .project img:hover + .projectName, .exampleProjectsContainer .project img:hover + .projectName {
  box-shadow: 5px 5px #5c6d70;
  left: -5px;
  bottom: -15px;
}

/*# sourceMappingURL=style.css.map */
